

.desi-name{
    color: white;
    font-size: 36px;
    font-weight: 700;
}
.desi{
    
    font-size: 20px;
    font-weight: 600;
}
.designation{
    margin: 20px 0 0 50px;
    
}

.introduction
{
   width: 100%;
   display: flex;
   justify-content: space-between;
  
}
.details{
    /* width: 100%; */
    width: 60%;
}
.contact-details div,.education-details div, .social-media div{
    display: flex;
    padding: 5px 0;
}

.details div h2 ,.social-media a{
    font-size: 14px;
    color: #a9adb1;
    margin: 5px 0 0 10px;
}
.contact-details div .intro-icon,.education-details div .intro-icon,.social-media div .intro-icon{
font-size: 24px;
color: #a9adb1;
}
.contact-details,.education-details,.social-media {
    border: 1px solid #1C4744;
    width: 80%;
    border-radius:10px ;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px #1C4744 ;
    margin: 20px 0 0 50px;
}

.social-media a{
    font-weight: 600;
}

.profile-img{
    margin: 0px 0 0 30px;
}
.profile-img img{
    width: 400px;
    
  
}
@media screen and (max-width:770px){
 .introduction{
    flex-direction: column-reverse;
    /* justify-content: center; */
    align-items: center;
 }
 .designation h2{
    
    text-align: center;
}
.details{
    width: 90%;
}
}


@media screen and (max-width:425px){
     .desi-name{
    font-size: 22px;
}
.desi{

font-size: 16px;
}
.profile-img img{
    width: 250px; 
    margin: 20px 0 00 0;
}
.contact-details,.education-details,.social-media {
    width: 100%;
    padding: 10px 10px;
    margin: 20px 0 0 0px;
}
.details{
    width: 80%;
}

}
@media screen and (max-width:320px){
 .desi-name{
    font-size: 18px;
}
.desi{

font-size: 14px;
}
.profile-img img{
    width: 200px; 
    margin: 20px 0 00 0;
}
.details{
    width: 100%;
}
}