.footer-container {
    color: white;
    /* background-color: #24292E; */
    font-size: 12px;
    font-weight: 400;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
}
.footer-container .left-footer-icons .node-img , .footer-container .left-footer-icons .cross-img ,.warning-img ,.footer-container .right-footer-icons .js-brackets-img,.footer-container .right-footer-icons .tick-img ,.footer-container .right-footer-icons .bell-img {
    color: #0BCDAF;
    font-size: 18px;
margin: 0 0 0 10px;
padding: 0 0 0 10px;

}
 

.footer-container .left-footer-icons,.right-footer-icons{
    padding: 5px 0 0 0;
    margin: 0 0 0 10px;
}
